body{
    display: flex;
    flex-direction: row;
}
#navbar{
    
    
    height: 100vh;
    width: 20vw;
}
#main-doc{
    
    height: 100vh;
    width: 80vw;

}
.nav-link{
    text-decoration: none;
}
#ul-navbar{
    list-style-type: none;
}